@import url(./theme.css);

.imgsI {
  width: 100%;
}
#myphoto {
  width: 200px;
}
#info-cont {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}
.cardI {
  background-color: var(--Main-color);
  width: 22%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  color: white;
  text-shadow: 0 0 3px black;
  box-shadow: 0 0 3px black;
  font-size: 1.1vmax;
}
article {
  padding: 3px 10px;
}
#cont2 {
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
}
#self-cont {
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-size: 1.5vmax;
  align-items: center;
  text-align: center;
}
#peoplechoice {
  background-color: var(--Main-color);
  color: white;
  font-size: 1.5vmax;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
}
i {
  color: var(--Accent-color);
  font-weight: 800;
}
