@import url(./css/theme.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background: linear-gradient(90deg, var(--Main-color), #1e3a52);
  color: var(--Accent-color);
}
main {
  padding-top: 30px;
}
.menubtn {
  background-color: transparent;
  border: none;
  font-size: 1.4vmax;
  margin-right: 7px;
  border-bottom: 4px solid var(--Main-color);
}
.menubtn:hover {
  border-bottom: 4px solid var(--Accent-color);
}
.menubtn > a {
  text-decoration: none;
  color: white;
}
.menubtn > a:hover {
  color: var(--Accent-color);
}

footer {
  background-color: var(--Main-color);
  width: 100vw;
  height: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  bottom: 0;
}
