* {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}
html,
body {
  background: linear-gradient(#f7fff7, #343434);
  text-align: center;

  font-family: "Playfair Display", serif;
}
a {
  text-decoration: none;
  color: #000;
}
#stylinginfo {
  display: flex;
  background-color: #717171;
  width: 100%;
  height: 500px;
  padding-top: 20px;
  border-bottom: #000 1px solid;
  box-shadow: #000 1px 5px 20px;
}
#footeri {
  margin-top: 20px;
}
#aLB {
  width: 100%;
  height: 200px;
  background-color: #fcd931;
  margin-bottom: 0;
}
#secret {
  color: #fcd931;
}
.secret:hover {
  color: #000;
}
#infotxt {
  display: flex;
  width: 433px;
  height: 216px;
  flex-direction: column;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-size: 24px;
  text-shadow: #fff 1px 1px 2px;
}
#peoplechoice {
  width: 598px;
  height: 189px;
  display: flex;
  background: #d9d9d9;
  flex-direction: column;
  padding: 10px 0;
  font-style: italic;
  box-shadow: #000 4px 4px;
  text-shadow: #fff -1px -1px;
  font-size: 20px;
}
#myphoto {
  width: 150px;
  height: 225px;
  display: flex;
  border-radius: 200px;
}
#marginphoto {
  margin: 30px 0px;
}

.textDivider {
  margin: 5px 0;
}
.menuback {
  background-color: #2f3061;
  height: 60px;
  width: auto;
}
.menubtn {
  background-color: #ddd92a;
  border: 2px #f9d41e solid;
  width: 120px;
  height: 50px;
  font-size: 15px;
  border-radius: 20px;
}
.pISpacer {
  height: 40px;
}
.menubtn:hover {
  background-color: #c7c413;
  border: 2px #d2b111 solid;
  font-weight: bold;
}
.photoport {
  width: 300px;
  height: 300px;
  display: flex;
  border: 1px solid black;
}
.imgs {
  display: flex;
  flex-direction: row;
}
.columnI {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
}
.imgsI {
  border-radius: 188px;
  width: 184px;
  height: 188px;
  margin-left: 10px;
}
.phototext {
  width: 210px;
  height: 100px;
  color: #000;
  text-align: center;
  justify-content: start;
  font-size: 20px;
}
.picturetext {
  width: 300px;
  height: 50px;
  color: #fff;
}
.bgTxt {
  background-color: #2f3061;
  width: 302px;
  height: 65px;
}
.topX {
  width: 100%;
  height: 110px;
  background-color: #2f3061;
  display: flex;
  overflow: hidden;
}
.topText {
  font-size: 96px;
  color: #fff;
  margin: auto;
}
.center {
  margin: 0 auto;
}
.cardI {
  background-color: #717171;
  border: #343434 4px solid;
  width: 60%;
  height: 300px;
  margin: 20px auto;
}
